.defaultNotif {
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

.notifSuccess {
    color: green;
}

.notifFailed {
    color: red;
}

.boxStyle {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    padding: 5px;
    margin-bottom: 5px;
}